{% extends 'layout.html' %}

 {% block body %}
            <main>
                <section class="site-title">
                    <div class="site-background">
                        <h3>Tour OF Discounts</h3>
                        <h1>Amazzing plcaaes on earth</h1>
                        <button class="btn">explorer</button>
                    </div>
    <!-- Search -->
    <form action="#" method="POST">
    <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </form>
                </section>
   


 <!-----------------Blog carousel----------------------->
 <section>
        <div class="blog">
            <div class="container">
                <div class="owl-carousel owl-theme blog-post">
                    <div class="blog-content">
                        <img src="/static/image/lib.jpg" alt="lib">
                        <div class="blog-title">
                            <h3>INdian FAshion week</h3>
                            <button class="btn btn-blog">fashion</button>
                            <span>2 min</span>
                        </div>
                    </div>
                    <div class="blog-content">
                        <img src="../static/image/lib.jpg" alt="lib">
                        <div class="blog-title">
                            <h3>INdian FAshion week</h3>
                            <button class="btn btn-blog">fashion</button>
                            <span>2 min</span>
                        </div>
                    </div>
                    <div class="blog-content">
                        <img src="../static/image/lib.jpg" alt="lib">
                        <div class="blog-title">
                            <h3>INdian FAshion week</h3>
                            <button class="btn btn-blog">fashion</button>
                            <span>2 min</span>
                        </div>
                    </div>
                    <div class="blog-content">
                        <img src="../static/image/lib.jpg" alt="lib">
                        <div class="blog-title">
                            <h3>INdian FAshion week</h3>
                            <button class="btn btn-blog">fashion</button>
                            <span>2 min</span>
                        </div>
                    </div>
                    

                </div>

            </div>
        </div>
    </section>


    <!-----------------Blog carousel----------------------->

    </main>
    
{% endblock %}
